:root {
  --primaryfont: "Montserrat", sans-serif;
  --black10: #171717;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

body {
  color: var(--black10);
  font-family: var(--primaryfont);
}
main {
  margin: 20px;
  padding: 10px;
}

h1 {
}
