:root {
  --primaryfont: "Montserrat", sans-serif;
  --green10: #f5f3f0;
  --green20: #eae7dd;
  --green30: #d7d2bf;
  --green40: #bdb699;
  --green50: #a49c77;
  --green60: #76704c;
  --green70: #535038;
  --green80: #3c3b2b;
  --green90: #171717;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

body {
  color: var(--green90);
  font-family: var(--primaryfont);
  background-color: var(--green20);
}
main {
  margin: 0 3%;
  padding: 0 4%;
}

p {
  font-size: 32px;
  font-weight: 400;
}

@media screen and (max-width: 800px) {
  p {
    font-size: 16px;
  }
}
