---
import MainLayout from "../layouts/MainLayout.astro";
import ImgCard from "../components/ImgCard.astro";

const data = await fetch(
  "https://vqnwxfvyyssfbfvdjnfg.supabase.co/rest/v1/galleri",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZxbnd4ZnZ5eXNzZmJmdmRqbmZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTEyOTUwMzYsImV4cCI6MjAyNjg3MTAzNn0.A7Sj5u9pf_S-ewZ9LOxpw-AXq14DIAsxqOZR5iHOHfM",
    },
  }
).then((res) => res.json());
---

<MainLayout titel="Galleri">
  <div class="container">
    <h1>Galleri</h1>
  </div>
  <section class="images">
    {
      data.map((show) => {
        return <ImgCard data={show} />;
      })
    }
  </section>
</MainLayout>

<style>
  .container {
    margin: 50px;
    padding: 100px;
  }

  .images {
    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(200px, 1fr)
    ); /* Adjust the column width as needed */
    gap: 10px; /* Adjust the gap between grid items as needed */
  }
</style>
