---
import MainLayout from "../layouts/MainLayout.astro";
import ImgCard from "../components/ImgCard.astro";
---

<MainLayout titel="Galleri">
  <div class="container">
    <div class="heading">
      <h1>Galleri</h1>
    </div>
    <ImgCard />
  </div>
</MainLayout>

<style>
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 20px 0 20px;
    text-align: left;
  }

  .container .heading {
    padding: 20px;
  }
  .container .heading h1 {
  }
  .container .box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .container .box .images {
    display: flex;
    flex-direction: column;
    width: 32.5%;
    gap: 15px;
  }
</style>
