---
import MainLayout from "../layouts/MainLayout.astro";
import ImgCard from "../components/ImgCard.astro";
import Modal from "../components/Modal.astro";

const data = await fetch(
  "https://vqnwxfvyyssfbfvdjnfg.supabase.co/rest/v1/galleri",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZxbnd4ZnZ5eXNzZmJmdmRqbmZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTEyOTUwMzYsImV4cCI6MjAyNjg3MTAzNn0.A7Sj5u9pf_S-ewZ9LOxpw-AXq14DIAsxqOZR5iHOHfM",
    },
  }
).then((res) => res.json());
---

<MainLayout titel="Galleri">
  <div class="container">
    <h1>Galleri</h1>
  </div>
  <section class="images">
    <Modal indhold={data} />
  </section>
</MainLayout>

<script></script>

<style>
  .container {
    margin: 50px;
    padding: 100px;
  }

  .images {
    display: flex;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
</style>
