---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout titel="Forside">
  <section>
    <div id="hero_logo">
      <img src="/img/logo/logo_hvid.svg" alt="logo" id="logo_img" />
    </div>
    <!-- <div class="button">
      <a href="galleri.html">VIS GALLERI</a>
    </div> -->
    <div id="hero_container">
      <img src="/img/055.jpg" alt="billede af køkken" id="hero_img" />
    </div>
  </section>

  <section>
    <div>
      <h3>
        Vi er tre engagerede møbelsnedkere, der har en stor kærlighed for faget.
        Vi elsker processen med, at benytte træ i sin grundform og forvandle det
        til et vedvarende produkt/møbel som kan bevares i årtier.
      </h3>
    </div>
    <img src="/img/039.jpg" alt="" id="indeximg1" />
  </section>
  <section>
    <div id="indeximg2">
      <img src="/img/006.jpg" alt="" />
    </div>
    <div>
      <h3>
        Sammenlagt mere end 30 års erfaring indenfor design og produktion af
        special-fremstillede inventar og køkken løsninger.
      </h3>
    </div>
  </section>
</MainLayout>

<style>
  section {
    display: flex;
    justify-content: center;
    position: relative;
  }

  #hero_img {
    width: 100vw;
    height: auto;
  }

  #hero_logo {
    position: absolute;
    z-index: 100;
    top: 30%;
    width: 25%;
    /* Set the background color to semi-transparent black */
    background-color: #3c3b2b80;
  }

  #hero_logo::before {
    content: ""; /* Create a pseudo-element */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/img/logo/logo_hvid.svg") no-repeat center center; /* Set the background image */
    background-size: cover; /* Ensure the background image covers the entire area */
    z-index: -1; /* Place the pseudo-element below the content */
    opacity: 1; /* Set the opacity of the background image */
  }

  a {
    text-decoration: none;
    font-family: var(--primaryfont);
    font-weight: 500;
    color: var(--green70);
    z-index: 10;
  }

  #indeximg1 {
    width: 50%;
    height: auto;
    border-radius: 30px;
  }
  #indeximg2 {
    width: 30rem;
    height: 30rem;
    border-radius: 30px;
    overflow: hidden;
  }
  h3 {
    max-width: 65ch;
    z-index: 15;
    top: 20%;
    text-align: center;
  }
</style>
