---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout titel="Forside" overskrift="">
  <section>
    <div id="hero_logo">
      <img src="/public/img/logo/logo_hvid.svg" alt="logo" id="logo_img" />
    </div>
    <!-- <div class="button">
      <a href="galleri.html">VIS GALLERI</a>
    </div> -->
    <div id="hero_container">
      <img src="/img/055.jpg" alt="billede af køkken" id="hero_img" />
    </div>
  </section>
  <section>
    <h3>
      Sammenlagt mere end 30 års erfaring indenfor design og produktion af
      special-fremstillede inventar og køkken løsninger.
    </h3>
    <div class="opacity">
      <img src="/img/007.jpg" alt="" class="secondary" />
    </div>
  </section>
  <section>
    <h3>
      Vi er tre engagerede møbelsnedkere, der har en stor kærlighed for faget.
      Vi elsker processen med, at benytte træ i sin grundform og forvandle det
      til et vedvarende produkt/møbel som kan bevares i årtier.
    </h3>
    <img src="/img/050.jpg" alt="" class="secondary" />
  </section>
</MainLayout>

<style>
  section {
    display: flex;
    justify-content: center;
    position: relative;
  }

  #hero_img {
    width: 100vw;
    height: auto;
  }
  /* .button {
    position: absolute;
    padding: 20px;
    background-color: white;
    opacity: 70%;
    top: 40%;
  } */
  #hero_logo {
    position: absolute;
    z-index: 100;
    top: 40%;
    width: 200px;
    background-color: var(--green80);
    opacity: 42%;
  }

  a {
    text-decoration: none;
    font-family: var(--primaryfont);
    font-weight: 500;
    color: var(--green70);
    z-index: 10;
  }
  .secondary {
    width: 100vw;
  }
  .opacity {
    opacity: 40%;
  }
  h3 {
    position: absolute;
    max-width: 65ch;
    z-index: 15;
    top: 20%;
    text-align: center;
  }
</style>
