---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout titel="Forside">
  <h1>Kontakt Os</h1>
  <section>
    <img src="/public/img/IMG_0836.jpg" alt="" id="hero_kontakt" />
  </section>
  <div id="container_1_1">
    <article>
      <h3>Kontakt os:</h3>
      <div class="kontakt_container">
        <img src="/public/img/svg/map.svg" alt="map icon" class="icons" />
        <p>
          Skovlunde Møbelsnedkeri, Meterbuen 6 B, <br /> 2740 Skovlunde, Denmark
        </p>
      </div>
      <div class="kontakt_container">
        <img src="/public/img/svg/mail.svg" alt=" mail icon" class="icons" />
        <p>felix@skovlunde-ms.dk</p>
      </div>
      <div class="kontakt_container">
        <img
          src="/public/img/svg/telefon.svg"
          alt=" telefon icon"
          class="icons"
        />
        <p>+45 30 13 41 69</p>
      </div>
    </article>
    <article></article>
  </div>
  <style>
    section {
      display: flex;
      justify-content: center;
    }
    #hero_kontakt {
      width: 100vw;
    }

    #container_1_1 {
      padding-top: 50px;
    }
    .icons {
      width: 20px;
    }
    .kontakt_container {
      display: grid;
      gap: 10px;
      justify-content: left;
      /* height: 60px; */
      margin: 40px 0;
    }
    p {
      grid-column: 2;
    }
  </style>
</MainLayout>
