---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout titel="Forside">
  <section>
    <h1>Kontakt Os</h1>
    <img src="/public/img/IMG_0836.jpg" alt="" />
  </section>
  <article>
    <h3>Kontakt os:</h3>
    <p>
      Skovlunde Møbelsnedkeri, Meterbuen 6 B, <br /> 2740 Skovlunde, Denmark
    </p>
    <p>felix@skovlunde-ms.dk</p>
    <p>+45 30 13 41 69</p>
  </article>
  <article></article>
</MainLayout>

<style>
  img {
    width: 100vw;
  }
</style>
