---

---

<form name="kontakt" netlify>
  <div>
    <div class="navn">
      <label for="full-name"> NAVN: </label>
      <input id="full-name" name="fname" type="text" required />
    </div>
  </div>

  <div class="email">
    <label for="email"> EMAIL: </label>
    <input id="email2" name="email" type="email" required />
  </div>
  <div class="besked">
    <label id="besked" for="besked">
      BESKED:
      <textarea name="besked" rows="20" cols="129"></textarea>
    </label>
  </div>

  <button>INDSEND</button>
</form>
