---

---

<footer>
  <section>
    <a href="galleri.html">Galleri</a>
    <a href="kontaktos.html">Kontakt Os</a>
  </section>
</footer>

<style>
  section {
    display: flex;
    justify-content: center;
  }
  section a {
    padding: 10px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
    font-family: var(--primaryfont);
  }
</style>
