---
import Instagram from "./Instagram.astro"
import Facebook from  "./Facebook.astro"
---

<footer>
  <section>
    <a href="galleri.html">Galleri</a>
    <a href="kontaktos.html">Kontakt Os</a>
  </section>
  <section>
    <a href="https://facebook.com/skovlundemoebelsnedkeri"><Facebook/></a>
    <a href="https://instagram.com/skovlundemoebelsnedkeri"><Instagram/></a>
  </section>
</footer>

<style>
  section {
    display: flex;
    justify-content: center;
  }
  section a {
    padding: 10px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
    font-family: var(--primaryfont);
  }
</style>
